.deps/
.libs/
.dirstamp
*.o
m4/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/missing
/libtool
/ltmain.sh
/libutp-*.pc
/libutp-*.tar.*
*.l[ao]
